form {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

form header {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

form h1,
p {
  margin-bottom: 0.25rem;
}

form h1 {
  display: flex;
  align-items: center;
  font: var(--ft);

  svg {
    cursor: pointer;
    margin-left: auto;
  }
}

form p {
  font: var(--fp-m);
  color: var(--content-secondary);
}

form button {
  width: 7.68rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background: var(--content-brand);
  font: var(--fl-l);
  margin-left: auto;
  transition: 0.2s ease;

  &:hover {
    background: var(--background-highlights);
  }
}

fieldset {
  font: var(--fl-m);
  border: none;
  margin-bottom: 1rem;
}

.form-popup {
  display: none;
  opacity: 0;
  width: 30rem;
  padding: 2.5rem;
  background: var(--background-tertiary);
  border-radius: 0.75rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 50px #9282fa69);
  z-index: 2;
}

.show-form {
  display: block;
  animation: popup-on 0.4s ease forwards;
}

.input-inner {
  position: relative;
  margin-top: 0.125rem;

  input {
    transition: 0.2s ease;
    outline: none;

    &:not(:hover):focus {
      border: 1px solid var(--content-brand);
    }

    &:hover {
      border: 1px solid var(--content-secondary);
    }
  }
}

.tutor-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  transform: translate(50%, -75%);
}

.fielder {
  position: relative;
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  background: none;
  border: 1px solid var(--border-primary);
  padding: 0.75rem;
  font: 400 1rem/150% "Inter", sans-serif;
  color: var(--content-primary);
  padding-inline: 2.5rem;
}

.fielder-date {
  position: relative;
  align-items: center;
  width: 12rem;
  height: 3rem;
  border-radius: 0.5rem;
  background: none;
  border: 1px solid var(--border-primary);
  font: 400 1rem/150% "Inter", sans-serif;
  color: var(--content-secondary);
  z-index: 1;
  padding-inline: 2.5rem;

  &::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(-0%);
    width: 100%;
    height: 100%;
    border: 1px solid;
    z-index: 2;
    opacity: 0;
  }

  &::before {
    content: url(../assets/calendar.svg);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-40%);
  }

  &::after {
    content: url(../assets/arrow-down.svg);
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-40%);
  }
}

.field-hour {
  position: relative;
  width: 12rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-primary);
  font: 400 1rem/150% "Inter", sans-serif;
  color: var(--content-secondary);
  z-index: 1;
  padding-inline: 2.5rem;
  cursor: pointer;

  .select-selected {
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    user-select: none;
  }

  .select-selected::after {
    content: url(../assets/arrow-down.svg);
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-40%);
  }

  .select-selected::before {
    content: url(../assets/clock.svg);
    position: absolute;
    left: 10px;
    top: 50%;
    z-index: 2;
    transform: translateY(-40%);
    z-index: 2;
  }

  .select-items {
    position: absolute;
    width: 12rem;
    max-height: 10rem;
    overflow-y: scroll;
    gap: 0.125rem;
    border-radius: 0.5rem;
    border: inherit;
    background: #1f1f1f;
    top: 10;
    right: 0;
    user-select: none;

    &::-webkit-scrollbar {
      width: 0.25rem;
      appearance: none;
    }

    &::-webkit-scrollbar-track {
      background: var(--border-brand);
      border-radius: 99px;
    }

    &::-webkit-scrollbar-thumb {
      background: #d7d1ff;
      border-radius: 99px;
    }
  }
}

.select-hide {
  display: none;
}

.item-available {
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  padding: 0.25rem;
  transition: 0.2s ease;
  user-select: none;

  &:hover {
    background: var(--content-brand);
    color: var(--background-primary);
  }
}

.item-not-available {
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  padding: 0.25rem;
  transition: 0.2s ease;
  background: #1a1a1a;
  color: #363636;
  user-select: none;
  cursor: not-allowed;
}

.desc {
  width: 100%;
  border-radius: 0.5rem;
  background: none;
  border: 1px solid var(--border-primary);
  padding-top: 0.75rem;
  padding-bottom: 3rem;
  padding-inline: 0.75rem;
  font: 400 1rem/150% "Inter", sans-serif;
  color: var(--content-primary);
}

.date-wrapper {
  display: flex;
  justify-content: space-between;
}

@media (width <= 40rem) {
  .form-popup {
    width: 25rem;
  }

  .date-wrapper {
    flex-direction: column;
  }

  .fielder-date-hour {
    width: 100%;
  }

  .fielder-date {
    width: 100%;
  }
}

@keyframes popup-on {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
